.main-header .logo img {
    height: 50px;
    margin-left: -10px;
    padding: 5px 0;
}
.nav-stacked > li > .staked {
    border-left: 3px solid transparent;
    border-radius: 0;
    border-top: 0 none;
    color: #444;
    display: block;
    padding: 10px 15px;
}

/* Login page */
.login-page {
    background: rgba(0, 0, 0, 0) url("/img/bg-login.jpg") no-repeat fixed right center / cover ;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.login-logo {
    margin-top:8%;
}
.login-box, .register-box {
    margin: 0 auto;
    width: 420px;
}
.login-box .input-group .input-group-addon {
    background-color: #ee66be;
    border-color: #ee66be;
    border-radius: 0;
    color: #fff;
}
/* Login page */

.btn-profile-image {
    padding: 0px;
    padding-right: 10px;
}
.img-profile-image {
    width: 64px;
    height: 64px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 4px !important;
}
.select2-container--krajee .select2-selection {
    border-radius: 0px !important;
}
.select2-container--open{
    z-index:10002!important;
}
.select2-selection--single
.select2-selection__rendered{
    line-height: 20px!important;
}

/* Events */
.visits-caption {
    color: black;
    margin: 0;
    padding: 2rem 0 0 1rem;
}
.visits-caption .caption-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 32px;
    padding-left: 25px;
    position: relative;
}
.visits-caption .caption-item::after {
    content: " ";
    height: 16px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 16px;
}
.visits-caption .caption-item.caption-item-attended::after {
    background-color: #00a65a;
}
.visits-caption .caption-item.caption-item-notAttended::after {
    background-color: #d9534f;
}
.visits-caption .caption-item.caption-item-open::after {
    background-color: #f0ad4e;
}
.visits-caption .caption-item.caption-item-now::after {
    background-color: #ff99ff;
}
/*event in day or week view*/
.dhx_cal_event .dhx_body, .dhx_cal_event .dhx_header, .dhx_cal_event .dhx_title {
    background-color: #8A8A8A;
}
.dhx_cal_event.is_visit div{
    background-color: #f0ad4e !important;
    color: black !important;
}
.dhx_cal_event.is_attended div{
    background-color: #00a65a !important;
    color: black !important;
}
.dhx_cal_event.is_waiting div{
    background-color: #EE66BE !important;
    color: black !important;
}
.dhx_cal_event.is_served div{
    background-color: #00a65a !important;
    color: black !important;
}
.dhx_cal_event.is_closed div{
    background-color: #d9534f !important;
    color: black !important;
}
.dhx_cal_event.attended .dhx_footer{
    background-color: transparent !important;
    border: 0 none;
    height: 15px;
    margin-top: -11px;
}
.dhx_cal_event{
    z-index: 1;
}
.dhx_body a {
    color: #fff;
}
.dhx_cal_event_clear a {
    color: #ee66be;
}
/* Events */
.nav > li > a:hover {
    background-color: #E6AAEE;
    color: #fff;
}
.table-bordered td {
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Modals */
.modal-header {
    background-color: #00c2b8;
    color: #fff;
}
/* Modals */
/* Budgets */
.budget-document-form {
    padding: 0 20px;
}
.budget-title {
    background-color: darkgray;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 25px;
    padding: 2px 0 2px 55px;
    text-transform: uppercase;
}
.budget-logo {
    text-align: right;
}
.budget-subtitle {
    border-bottom: 1px dotted;
    color: darkgray;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}
.budget-clinic {

}
.budget-clinic ul {
    padding: 0;
}
.budget-clinic ul li {
    list-style: none;
    padding: 0;
}
.budget-clinic ul li span {
    font-weight: bold;
}
.budget-patient {
    padding-top: 15px;
}
.budget-patient ul {
    padding: 0;
}
.budget-patient ul li {
    list-style: none;
    padding: 0;
}
.budget-patient ul li span {
    font-weight: bold;
}
.budget-description {
    min-height: 200px;
    padding-top: 15px;
}
.budget-conditions {

}
.budget-conditions-title {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
#form-budget-document {
    padding-top: 15px;
}
.budget-signature{
    padding-top: 40px;
}
.budget-signature-title {
    background-color: darkgray;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.budget-signature-canvas {
    text-align: center;
}
.budget-signature-canvas canvas {
    border: 1px solid darkgray;
}
.budget-signature-clean {

}
.budget-clauses-title {
    color: darkgray;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
.budget-legal-text {
    color: darkgray;
    font-size: 0.9em;
}
.budget-currency {
    margin-top: 15px;
}
.budget-price {

}
.budget-final-price {
    margin-top: 15px;
    font-size: 1.3em;
    font-weight: bold;
}
.budget-price span{
    font-weight: bold;
}
.budget-document-view {
    background-color: #fff;
}
/* Budgets */
.info-box-content a:link,
.info-box-content a:visited
.info-box-content a:hover,
.info-box-content a:active
{
    color: white;
}

.info-box-number {
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blockclick {
    background-color: #ff99ff;
    color: white;
    opacity: 100;
}

.table-total-footer{
    padding: 20px 30px;
    background: rgb(243, 156, 18);
    z-index: 999999;
    color:white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box-comments{
    box-shadow: 1px 1px 5px 0px;
}

.modal-bg {
    width: 90%;
}

.select2-search__field {
    width: 150% !important;
}

/* Estilos del contenedor */
.box-data {
    height: 400px;
    overflow: auto;
}

.box-data p:not(:last-child) {
    margin-bottom: 1rem;
}

/* Tamaño del scroll */
.box-data::-webkit-scrollbar {
    width: 10px;
    height: 300px;
}

/* Estilos barra (thumb) de scroll */
.box-data::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0px;
}

.box-data::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.box-data::-webkit-scrollbar-thumb:hover {
    background: #ff99ff;
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);*/
}

/* Estilos track de scroll */
.box-data::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 0px;
}

.box-data::-webkit-scrollbar-track:hover,
.box-data::-webkit-scrollbar-track:active {
    background: #F7FBD7;
}